<hr>
<div>
  <p>
    Name: <%= property.name %>
  </p>
  <p>
    Value Type: <%= property.value_type %>
  </p>
  <p>
    IO Direction: <%= property.io_direction %>
  </p>
  <p>
    <% if property.show_graph? %>
      Value: <%= property.value %> <%= property.unit %>
    <% else %>
      <%= form_with model: property do |form| %>
        <div>
          <p>
            <%= form.label :value %>
            <%= form.number_field :value %> <%= property.unit %>
          </p>
          <p>
            <%= form.submit %>
          </p>
        </div>
      <% end %>
    <% end %>
  </p>
  <div>
    <% if property.show_graph? %>
      <%=line_chart property.historical_values.order(created_at: :desc).limit(500).collect{|i| [i[:created_at], i[:value]]}%>
    <% end %>
  </div>
  <div>
    <%= link_to 'Edit', edit_property_path(property) %>
  </div>
  <div>
    <%= link_to 'Destroy Property', property, method: :delete, data: { confirm: "Are you sure?"} %>
  </div>
</div>