<hr>
<p>
  Name: <%= property.name %>
</p>
<p>
  Unit: <%= property.unit %>
<p>
  Value Type: <%= property.value_type %>
<p>
  IO Direction: <%= property.io_direction %>
</p>
<p>
  Value: <%= property.get_value() %>
</p>

<div>
  <%= link_to 'Destroy Property', [property.device, property], method: :delete, data: { confirm: "Are you sure?"} %>
</div>